<link rel="stylesheet" href="/css/info.css">
<div class="inf">
    <div class="card">
        <div class="img">
            <img src="{{ob.imgurl}}" class="card-img-top">
        </div>
        <div class="card-body" >
            <h5 class="card-title">Name: {{ob.names}}
            </h5>
            <p class="text lh-sm"> Base Experience: {{ob.baseExp}}<br>
                Speed: {{ob.speed}}<br>
                Special Defense: {{ob.specialDefense}}<br>
                Special Atack: {{ob.specialAtack}}<br>
                Atack: {{ob.attk}}<br>
                Hp: {{ob.hp}}</p>
            <a href="/" class="btn btn-primary">somewhere</a>
        </div>
    </div>
</div>